html
    head
        title Todo List
        link(href='/bootstrap.min.css', rel='stylesheet')
        link(href='/index.css', rel='stylesheet')
    body
        h1 Todo List

        if flashSuccess
            div.flashbag.bg-success=flashSuccess
        if flashFailure
            div.flashbag.bg-danger=flashFailure

        if (lists != null)
            each val, index in lists
                if (index % 2 == 0)
                    div.list.odd
                        div.to-do.col-md-10=val.name
                        div.col-md-2.del
                            a(href='remove/' + val.id) Delete
                        div.clearfix
                else
                    div.list.even
                        div.to-do.col-md-10=val.name
                        div.col-md-2.del
                            a(href='remove/' + val.id) Delete
                        div.clearfix
        else
            div.list.odd
                div.to-do.col-md-12 Belum ada data
                div.clearfix
        form.form-horizontal(method="POST")
            div#label-data.col-md-12
                label.control-label(for="data") Buat Data Baru
            div.col-md-9
                input#data.form-control(type="text", placeholder="Masukkan data", name="data", maxlength="50" autofocus)
            div.col-md-3
                input.btn.btn-success(type="submit", value="Tambah")