html
    head
        title Todo List
        link(href='/bootstrap.min.css', rel='stylesheet')
        link(href='/index.css', rel='stylesheet')
    body
        h1 Todo List
        div.list
            div.to-do.col-md-10 Belum ada data
            div.col-md-2 Delete
            div.clearfix
        form.form-horizontal(method="POST")
            div#label-data.col-md-12
                label.control-label(for="name") Buat Data Baru
            div.col-md-9
                input#data.form-control(type="text", placeholder="Masukkan data")
            div.col-md-3
                input.btn.btn-success(type="submit", value="Tambah")